<!-- ______ begin filtration seaction _______ -->
<section class="pt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div class="control-wrapper text-center">
          <mat-form-field class="example-full-width">
            <mat-label>search For People</mat-label>
            <input matInput [(ngModel)]="userName" autocomplete="off">
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ______ end filtration seaction _______ -->

<!-- ________ begin user list section _______ -->
<section class="py-3 py-lg-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
          <div class="example-box mb-3" *ngFor="let user of users | search: 'first_name': userName ; let index = index" cdkDrag>
            <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
              <mat-card class="example-card user-card text-center w-100">
                <div class="user-card__order">
                  {{index + 1}}
                </div>
                <mat-card-header>
                  <div mat-card-avatar class="user-card__avatar example-header-image">
                    <img [src]="user?.avatar" [alt]="user?.first_name">
                  </div>
                  <mat-card-title class="d-block user-card__name my-2">
                    {{ user?.first_name  + ' ' +  user?.last_name}}
                  </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="user-card__email">
                      <a [href]="user.email" target="_blanck">
                        {{ user?.email }}
                      </a>
                    </div>
                </mat-card-content>
              </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ________ end user list section _______ -->
